body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(-75deg, #78C850, #6890F0, #98D8D8, #A040A0);
  background-size: 400% 400%;
  scroll-behavior: smooth;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  max-height: 2px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to bottom,
      #ff0000,
      #0000ff);
}

h1 {
  margin: 0 !important;
}

p {
  margin: 0;
  margin-bottom: 0 !important;
}

.d-none {
  display: none;
}

main {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 60px;
}


#topButton {
  display: none;
  position: fixed;
  bottom: 92px;
  right: 10px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background: linear-gradient(to right, #ff0000, #0000ff);
  color: white;
  cursor: pointer;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  text-align: center;
}

#topButton:hover {

  background: red;
}

#topButton svg {
  width: 25px;
  height: 25px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 0;
  padding: 0 16px 0 16px;
  background: linear-gradient(to right, #ff0000, #0000ff);
}

header img {
  height: 45px;
}

.searchInput {
  padding: 8px;
  border: 3px solid #ff0000;
  width: 250px;
  border-radius: 25px;
  background-color: transparent;
  color: white;
  outline: none;
}

.searchButton {
  padding: 8px;
  border: 3px solid #ff0000;
  width: 120px;
  border-radius: 25px;
  background-color: transparent;
  color: white;
  outline: none;
}

::placeholder {
  color: white;
  opacity: 1;
}

/*LOADING*/

.spinner {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(130px);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner img {
  height: 50px;
  width: 50px;
  animation: 3000 infinite;
}

.spinner h1 {
  background: linear-gradient(to right, #ff0000, #0000ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*MODAL SEARCH*/
.modal-content {
  background: linear-gradient(-75deg, #78C850, #6890F0, #98D8D8, #A040A0);
  text-color: white;
}

.modal-dialog {
  top: 20%;
}


/*Overview Cards*/

.pokemonCards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 10px;
}

.pokemonCard {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  border: 2px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  border: 1px solid white;
}

.loadMore {
  display: flex;
  justify-content: center;
  height: 50px;
  margin-top: 16px;

}

.loadMoreButton {
  padding: 4px;
  border: 3px solid #ff0000;
  width: 120px;
  border-radius: 25px;
  background: linear-gradient(to right, #ff0000, #0000ff);
  color: white;
  outline: none;
}

.pokemonCard:hover {
  transform: translateY(-6px);
}

/*Single Card*/
.pokemonCardTop {
  height: 125px;
}

.pokemonCardBottom {
  display: flex;
  flex-grow: 1;
  height: 100px;
}

.pokemonCardBottom-1 {
  flex: 1;
}

.pokemonCardBottom-1 p {
  background-color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: black;
  padding-left: 8px;
  font-weight: bold;
  font-size: 16px;
}

.pokemonCardBottom-2 {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemonCardBottom-2 img {
  width: 100%;
  height: 100%;
}

.pokemonCardContentTypeType {
  background: white;
  color: black;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 4px 40px 4px 0;
}


/* POPUP*/
.popup {
  backdrop-filter: blur(130px);
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.popup-type {
  background-color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: black;
  padding-left: 8px;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  top: 20px;
  width: 110px;
}

/*ARROW*/
.arrow-left-button {
  position: absolute;
  top: 50%;
  left: 40px;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 16px;
  border: none;
  text-align: center;
  text-decoration: none;
}

.arrow-left-button svg {
  width: 25px;
  height: 25px;
}

.arrow-right-button {
  position: absolute;
  top: 50%;
  right: 40px;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 16px;
  border: none;
  text-align: center;
  text-decoration: none;
}

.arrow-right-button svg {
  width: 25px;
  height: 25px;
}

/* POPUP CARD*/
.pokemonBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
}

.card-container {
  /* margin: 0 auto; */
  max-width: 500px;
  height: 550px;
  background-color: white;
  border-radius: 10px;

}

.card-item-top {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-item {
  display: flex;
  flex-direction: column;
}

.card-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  color: white;
  padding: 0 10px;
  margin-top: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cardClose {
  content: url('https://api.iconify.design/material-symbols/close.svg?color=white');
  height: 24px;
  cursor: pointer;
}

.cardLikeIconHeart {
  content: url('https://api.iconify.design/mdi/heart-outline.svg?color=white');
  height: 24px;
  cursor: pointer;
}

.card-item-image {
  height: 225px;
  object-fit: contain;
  padding-bottom: 16px;
}

.card-item-tab-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 40px;
  margin-top: -18px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-item-tab {
  cursor: pointer;
  font-weight: bold;
  border-bottom: 2px solid white;
  padding: 8px 20px;
  border-radius: 6px;
}


.card-item-tab:hover {
  border-bottom: 2px solid black;
}

.card-item-tab-content {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  padding: 0px 10px;
  color: white;
  justify-content: center;
  align-items: center;

}

.card-item-tab-content::-webkit-scrollbar {
  display: none;
}

.card-item-tab-content-move {
  display: none;
  height: 220px
}

.card-item-move {
  margin: 2px;
  color: black;

}

/*TABLE TAB*/
.card-table {
  overflow: auto;
  padding-top: 8%;
  padding-bottom: 8%;
}

.card-table table {
  border: 1px;
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
}

.card-table caption {
  caption-side: top;
  text-align: left;
}

.card-table th {
  border: 1px;
  background-color: #FFFFFF;
  padding: 5px;
}

.card-table td {
  border: 1px;
  color: #000000;
  padding: 5px;
  width: 50px;
}

td:first-child {
  font-weight: bold;
  text-align: end;
}

@media (max-width: 710px) {
  .arrow-left-button {
    position: absolute;
    top: 90%;
    left: 50px;
    z-index: 99999;
    cursor: pointer;
    color: #41739D;
  }


  .arrow-right-button {
    position: absolute;
    top: 90%;
    right: 50px;
    z-index: 99999;
    cursor: pointer;
    color: #41739D;
  }

  .pokemonBox {
    margin: 15px;
  }

}

@media (max-width: 560px) {
  main {
    padding-top: 100px;
  }

  header {
    flex-direction: column;
    height: 100px;
    padding: 0;
    justify-content: space-evenly;
  }

}

@media (max-width: 400px) {
  main {
    padding-top: 100px;
  }

  .searchInput {
    width: 200px;
  }

  .searchButton {
    width: 80px;
  }

  .card-item-tab-header {
    font-size: 12px;
  }
}